body {
  background-color: black;
}

p {
  color: #f0e6c3;
}

a:hover {
  color: gold;
  text-decoration: none;
}

ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 120px;
  flex-basis: 120px;
  opacity: 0;
  -webkit-animation: fade-in 1.5s 1.4s forwards;
  animation: fade-in 1.5s 1.4s forwards
}

.links {
  list-style-type: none;
}

.fa {
  margin: 0px 40px 10px 40px;
  color: #f0e6c3;
  -webkit-transition: color 0.75s ease-in;
  -o-transition: color 0.75s ease-in;
  transition: color 0.75s ease-in;
}

.fa:hover {
  color: gold;
  text-decoration: none;
}

#name {
  font-size: 72px;
  margin-top: 50px;
}

@media (max-width: 500px) {
  #name {
    font-size: 42px;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#name::-moz-selection {
  color: gold;
}

#name::selection {
  color: gold;
}

#name {
  opacity: 0;
  -webkit-animation: fade-in 1.5s 1s forwards;
  animation: fade-in 1.5s 1s forwards;
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}